{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% if message %}
        <div class="alert alert-info">
            {{ message }}
        </div>
    {% else %}
        <h2 class="mb-4">Set Your Budget</h2>
        <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
        
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="invalid-feedback">
                        {{ field.errors.0 }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        <div class="button-container d-flex justify-content-between">    
            <button type="submit" class="btn btn-primary">Set Budget</button>
        </form>
        {% if user.is_staff %}
            <form method="post" action="{% url 'set_budget' %}">
                {% csrf_token %}
                <input type="hidden" name="toggle_lock" value="1">
                <button type="submit" class="{% if budget.locked %}btn btn-danger{% else %}btn btn-success{% endif %}">
                    {% if budget.locked %}Click to unlock the budget{% else %}Click to lock down the budget{% endif %}
                </button>
            </form>
            <a href="{% url 'home' %}" class="btn btn-primary">Back to main page</a>
        {% endif %}
        </div>
    {% endif %}
</div>
{% endblock %}